<div class="div1 font2 d-flex align-items-center justify-content-center flex-column text-white">
  <div class=" text text-center text-white  my-4">
    <h1 class=" font1" style="cursor: pointer;" routerLink="">Z-STORE</h1>
    <h4 class=" ">Welcome to our store</h4>
  </div>
  <div routerLink="/home" style="cursor: pointer;"
    class="getstart btn bg-white d-flex align-items-center justify-content-center  py-3 mt-1  ">
    GET START
    <i class="fa-solid fa-right-to-bracket ms-2"></i>
  </div>
  <div class="google  text-white btn bg-danger d-flex align-items-center justify-content-center px-5 py-3 mt-1  ">
    GOOGLE
  </div>
  <div class="connect text-white   d-flex align-items-center justify-content-between px-3 py-3 mt-1  ">
    <p style="cursor: pointer;" routerLink="/login">LOGIN</p>
    <p style="cursor: pointer;" routerLink="/signup">SIGNUP</p>
  </div>
