<div class="w-100 position-relative bottom-0 h-auto ">

  <div  style=" position: absolute!important;" class=" w-100  bottom-0 bg-dark mt-5">
    <div class="container">
      <div class="row">

        <div class=" one col-lg-4 col-md-12 col-sm-12 py-5 d-flex flex-column justify-content-evenly " style="height: 35vh !important;">

          <div class="">
            <a routerLink="/home" class="  navbar-brand text-danger fw-bold fs-4 ">Z-STORE</a>
          </div>

          <p class="text-white-50">Lorem ipsum dolor si eum, quis reiciendis rem possimus quasi tempore aliquid sit
            ratione odit eligendi voluptatem iste!</p>


          <div class=" text-white-50 w-50 d-flex align-items-center justify-content-between fs-5">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
          </div>


        </div>
        <div class="col-lg-1 col-md-3 col-sm-6 py-5 h-100 text-white-50">
          <p>Catalog</p>
          <p>Brands</p>
          <p>Delivery</p>
          <p>FAQ</p>
          <p>Payment</p>
        </div>
        <div class="col-lg-1 col-md-3 col-sm-6 py-5 h-100 text-white-50">
          <p>About</p>
          <p>Contacts</p>
          <p>Blog</p>
          <p>News</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 py-5 h-100 text-white-50">
          <p> <i class="fa-solid fa-phone me-1"></i> 8 800 799 99 99</p>
          <p> <i class="fa-solid fa-envelope me-1"></i> example@example.com</p>
          <p> <i class="fa-solid fa-location-dot me-1"></i> St. Petersburg, Nevsky Prospect 28</p>
          <p> <i class="fa-solid fa-clock me-1"></i> Daily 10:00-22:00</p>
        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 py-5 h-100 text-white-50 d-flex flex-column justify-content-evenly">

    <p>Subscribe for updates</p>
    <input type="text" class=" bg-transparent  border-light w-75  ps-3 mb-3 py-2" style="border: solid 1px white; border-radius: 20px;" placeholder="Email">
  <p>Shopping Categories icons by Jaro Sigrist from Noun Project</p>

        </div>
      </div>



    </div>


  </div>
</div>
