<div class=" bg-white  rounded-3">
  <p class=" border-bottom w-100 fs-2 p-3 fa ">settings</p>


  <div class=" container">


    <div class="  d-flex flex-column justify-content-between  col-6  py-3 " style="height: 43.2vh;">
      <p class="fa">Email</p>
      <div class=" mt-2">
        <label class="fa" for="">Current Email
        </label>
        <input type="text" class="form-control ng-untouched ng-pristine ng-invalid text-black-50" disabled
          value="example@example.com">
      </div>
      <div class=" mt-2">
        <label for="" class="fa">New Email</label>
        <input type="text" class="form-control ng-untouched ng-pristine ng-invalid">
      </div>
      <button class=" btn btn-primary  col-lg-4 col-md-6 col-sm-8">Update Email</button>
    </div>


    <hr>


    <div class="  d-flex flex-column justify-content-between  col-6  py-3 " style="height: 50vh;">
      <p class="fa">Password</p>
      <div class=" mt-2">
        <label class="fa" for="">Current password
        </label>
        <input type="text" class="form-control ng-untouched ng-pristine ng-invalid ">
      </div>
      <div class=" mt-2">
        <label for="" class="fa">New password</label>
        <input type="text" class="form-control ng-untouched ng-pristine ng-invalid">
      </div>

      <div class=" mt-2">
        <label for="" class="fa">Confirm password</label>
        <input type="text" class="form-control ng-untouched ng-pristine ng-invalid">
      </div>

      <button class=" btn btn-primary col-lg-4 col-md-6 col-sm-8">Update password</button>
    </div>




    <hr>



    <div class="  d-flex flex-column justify-content-between  col-6  py-3 ">
      <p class="fa">Email Notifications</p>



      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="Weekly Newsletter">
          Weekly Newsletter
        </label>
      </div>





      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="New Product Announcements">
          New Product Announcements
        </label>
      </div>




      <div class="form-check ">
        <input class="form-check-input " type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label  " for="Product Specials">
          Product Specials
        </label>
      </div>

    </div>




  </div>




</div>
