input{
  margin-bottom: 20px;
  border-bottom: 1px solid #c7c7cd;
  border-top: 0px solid #c7c7cd ;
  border-left: 0px solid #c7c7cd ;
  border-right: 0px solid #c7c7cd ;
}
button:hover{
background: transparent !important;
color: white !important;
}
h5 span{
  transition: .3s;
}
h5 span:hover{
  color: #dc3545
}

@media (min-width: 300px) and (max-width: 640px){
  .register{
    width: 100% !important;
  }
  .all{

    margin-left: 0.1px;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .register{
    width: 50% !important;
  }
  .main{
    height: 80% !important;
    padding: 10% 0px  !important;
    margin-left: 0.1px;
  }

}
@media (min-width: 640px) and (max-width: 1082px) {
  .register{
    width: 50% !important;
  }
}
@media (min-width: 1083px) and (max-width: 999999999px){
  .register{
    width: 25% !important;
  }
}
