<div class=" bg-white  rounded-3">
  <p class=" border-bottom w-100 fs-2 p-3 fa ">Personal Info</p>

  <div>
    <p class="fs-4 p-3 ">Personal Info</p>

    <div class=" container">
      <div class="row">




        <div class="col-6 my-2">
          <label for="" class="">First Name</label>
          <input type="text" value="{{userdata?.firstName}}"  class="text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>
        <div class="col-6 my-2">
          <label for="" class="">Last Name</label>
          <input type="text" value="{{userdata?.lastName}}" class=" text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>

        <div class="col-6 my-2">
          <label for="" class="">Phone Number</label>
          <input type="text" value="{{userdata?.phone}}"
            class="text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>
        <div class="col-6 my-2">
          <label for="" class="">Date of Birth</label>
          <input type="date" value="1990-01-01" class=" text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>



      </div>
    </div>








  </div>










  <div>
    <p class="fs-4 p-3 mt-4 "> Address</p>

    <div class=" container">
      <div class="row">




        <div class="input-group mb-3 col-12">
          <label class="input-group-text">Country</label>
          <select class="form-select">
            <option selected value="1">Choose the country</option>
            <option value="1">EGY</option>
            <option value="2">KSA</option>
            <option value="3">USA</option>
          </select>
        </div>


        <div class="col-9 my-2">
          <label for="" class="">city</label>
          <input type="text" class=" text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>

        <div class="col-3 my-2">
          <label for="" class="">Post code</label>
          <input type="text" class="text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>

        <div class="col-9 my-2">
          <label for="" class="">Street</label>
          <input type="text" class=" text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>

        <div class="col-3 my-2">
          <label for="" class="">House</label>
          <input type="text" class="text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>


        <div class="col-3 my-2">
          <label for="" class="">Building</label>
          <input type="text" class=" text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>
        <div class="col-3 my-2">
          <label for="" class="">Entrance</label>
          <input type="text" class=" text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>
        <div class="col-3 my-2">
          <label for="" class="">Floor</label>
          <input type="text" class=" text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>
        <div class="col-3 my-2">
          <label for="" class="">Apartment</label>
          <input type="text" class=" text-black-50 form-control ng-untouched ng-pristine ng-invalid">
        </div>



        <div class="col-12 my-2">
          <label for="" class="">Comment</label>
          <textarea class=" text-black-50 form-control ng-untouched ng-pristine ng-invalid"
            placeholder="Additional information: phone numbers or doorphone code" name="" id="" rows="5"></textarea>
        </div>

        <hr class=" mt-3" >

<div class=" w-100 pb-2 text-center">
  <button class="btn btn-primary w-25">SAVE</button>

</div>
      </div>
    </div>








  </div>



</div>
